<div id="post-<%= post.id %>">
  <div class="row">
    <div class="col-md-2">
      Title
    </div>
    <div class="col-md-6">
      Content
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= post.title %>
    </div>
    <div class="col-md-6">
      <%= post.content %>
    </div>
  </div>
  <%= link_to "Edit", edit_post_path(post), class:'btn btn-default', remote: true %>
</div>
