<div class="row">
  <div class="col-md-5 offset-md-1">
    <h2>Posts</h2>
  </div>

  <div class="col-md-2 offset-md-4">
    <%= link_to 'New', new_post_path, class: "btn btn-default", remote: true %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-2 " id='post-form'>
  </div>
</div>

<div class="row">
  <div class="col-md-7 offset-md-1" id='posts'>
    <%= render @posts %>
  </div>
</div>
