<% if @post.errors.any? %>
  document.querySelector('#error_explanation') ? document.querySelector('#error_explanation').remove() : null ;
  document.querySelector('#post-form').insertAdjacentHTML('afterbegin', '<%= escape_javascript(render "shared/validation-messages", object: @post) %>');
<% else %>
  document.querySelector('#error_explanation') ? document.querySelector('#error_explanation').remove() : null ;
  document.querySelector('#posts').insertAdjacentHTML('afterbegin', '<%= escape_javascript(render @post) %>') ;
  document.querySelector('#posts-form').remove();
<% end %>
